p.project-card-descr{
    text-align: justify;
}

p#your-task-description,
p#about-me{
    text-align: left;
    font-weight: bold;
}

p#your-task-description a{
    text-decoration: underline;
}

#portfolio-grid .mix .fadeInDown{
    border-radius: 5px;
    background-color: #00000085;
}

#portfolio-grid .mix .fadeInDown img,
#my-works-href .filter a{
    border-radius: 5px;
}